%h1.title Projects List

.categories
  - @project_categories.each do |category|
    .category= link_to category, :controller => 'projects', :action => 'search_projects', :category => category  

.listing
  %table.table-striped
    %tr
      %th Name
      %th Description
      %th Type

    - @projects.each do |project|
      %tr
        %td= link_to project.name, project
        %td=h truncate(project.description.html_safe, :length => 500)
        %td= project.category

