<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Word,</h1>
    <p>
    <%= @post.user.username %> made a post on the forums.
    <p>
    Click <a href="<%= @url %>">here</a> to view the thread.
    <p>
  </body>
</html>
