#container
  .flexslider
    %ul.slides
      - content.each do |c|
        %li
          .image= image_tag(c.image.url(:slider))
          %h2.title
            = c.name if c.name.present?
          .info
            =h truncate(c.description.html_safe, :length => 150 ) if c.description.present?

