.carousel-inner
  - content.each do |c|
    .item
      %center
        = link_to image_tag(c.image.url(:large)), c
      .carousel-caption
        %h4= c.name if c.name.present?
        %p
          =h truncate(c.description.html_safe, :length => 100 )

%a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
%a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›

:javascript
  $(document).ready(function(){
    $('.carousel').carousel()
  });
