.hero-unit
  .carousel.clearfix
    .panel
      .details_wrapper
        .details
          - @featured_posts.each do |post|
            .detail
              %h2.Lexia-Bold
                = post.title
      .paging
        #numbers
        %a.previous{:href => "javascript:void(0);", :title => "Previous"} Previous
        %a.next{:href => "javascript:void(0);", :title => "Next"} Next
        %a.play{:href => "javascript:void(0);", :title => "Turn on autoplay"} Play
        %a.pause{:href => "javascript:void(0);", :title => "Turn off autoplay"} Pause

    - @featured_posts.each do |post|
      .backgrounds
        .item.item_1
          = image_tag post.image.url(:medium)
