.hero-unit
  .carousel.clearfix
    .panel
      .details_wrapper
        .details
          - @featured_posts.each do |post|
            .detail
              %h2.Lexia-Bold
                = post.title
              =h truncate(post.body, :length => 200)
              %p
              = link_to " ... read more", root_path

      .paging
        #numbers
        %a.previous{:href => "javascript:void(0);", :title => "Previous"} Previous
        %a.next{:href => "javascript:void(0);", :title => "Next"} Next
        %a.play{:href => "javascript:void(0);", :title => "Turn on autoplay"} Play
        %a.pause{:href => "javascript:void(0);", :title => "Turn off autoplay"} Pause

    .backgrounds
      - for i in 0..@featured_posts.count - 1
        .item
          = image_tag @featured_posts[i].image.url(:medium)

