<center>
  <h2><%= @object.name %> Image Gallery:</h2>
  <div class="ad-gallery">
    <div class="ad-image-wrapper">
    </div>
    <div class="ad-controls">
    </div>
    <div class="ad-nav">
      <div class="ad-thumbs">
        <ul class="ad-thumb-list">
          <% @object.galleries.first.images.each do |image| %>
            <li>
              <a href="<%= image.attachment.url(:large) %>">
                <img src="<%= image.attachment.url(:small) %>" title="<%= image.attachment_file_name %>">
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</center>


