.slider-wrapper.theme-default#featured
  #slider.nivoSlider
    - content.each do |c|
      = link_to image_tag(c.image.url(:large), :title => c.name), c


:javascript
  $(document).ready(function(){
    $('#slider').nivoSlider({
      pauseTime: 5000
    });
  });
