.container
  = render 'shared/content_slider'
  .row
    - @posts.each do |post|
      .span5
        %h2= post.title
        %p= post.body

:javascript
  $(document).ready(function() {
    $(".carousel").dualSlider({
      auto:true,
      autoDelay: 6000,
      easingCarousel: "swing",
      easingDetails: "easeOutBack",
      durationCarousel: 1000,
      durationDetails: 500
    });
  });
