.container
  = render 'shared/content_slider', :posts => @featured_posts
.row
  - @posts.each do |post|
    .span-one-third
      %h2= post.title
      = image_tag post.image.url(:thumb)
      %p= post.body


:javascript
  $(document).ready(function() {
    $(".carousel").dualSlider({
      auto:true,
      autoDelay: 6000,
      durationCarousel: 1000,
      durationDetails: 500
    });
  });
