%h2= @tutorial.name

- if !@tutorial.steps.empty?
  - @tutorial.steps.each do |step|
    .step_box
      = step.step_number
      = link_to image_tag(step.image.url(:thumb)), step_path(step)

.clear_steps
  .tutorial_description
    = @tutorial.description
