body {
  background: url('bg.png') fixed center;
}

.tutorial_menu {
  float: left;
  padding: 5px;
}

.info {
  margin-left: 10px;
  float:left;
  padding: 0px 10px 10px;
}

.logo {
  background: rgba(209, 217, 222, 0.9);
  width: 750px;
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
