body {
  background: url('bg3.png') fixed center;
}

.tutorial_menu {
  float: left;
  padding: 5px;
}

.logo {
  background: rgba(209, 217, 222, 0.9);
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
