// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board {
  background: #D1D9DE;
  padding: 0px 25px 25px 25px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

.hero-unit {
  margin-top: 0px;
}


.session {
  margin-top: 5px;
}

.space {
  margin-top: 5px;
}

.title {
  float: left;
}

.body {
  float: left;
}

.article_text {
  float: left;
}

.articles {
  clear: both;
  float: left;
}

.article {
  margin-top: 20px;
  border: black 1px solid;
}

.article_image {
  float:left;
  margin: 5px 15px 0px 5px;
}

.project_image {
  float:left;
  margin-right: 10px;
}

.row {
  margin-top: 50px;
}

.step_box {
  width: 100px;
  border: solid black 1px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px 0px 0px 20px;
}

.tutorial_description {
  width: 100%;
  border: solid black 1px;
  padding: 10px;
}

.clear_steps {
  clear: both;
  padding-top: 20px;
}

.image {
  float: left;
  clear: both;
}
