// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo{
  display: inline;
}

.google_ad_show{
  margin-top: 20px;
  border: 1px solid black;
  width: 728px;
  height: 90px;
}

#google_ad_top{
  position: absolute;
  width: 270px;
  height: 57px;
  margin: 5px 0px 0px 10px;
  display: inline-block;
  background: rgba(209, 217, 222, 0.9);
  padding: 7px 0px 10px 40px;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

#google_ad_bottom{
  position: absolute;
  background: rgba(209, 217, 222, 0.9);
  padding: 10px 108px 10px 108px;
  margin-top: 20px;
  margin-bottom: 10px;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

.flex {
  margin-left: 10px;
}

.heading {
  margin-top: 10px;
  background: rgba(209, 217, 222, 0.9);
  padding: 10px 10px 10px 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  font-size: 15px;
}

.board {
  background: rgba(209, 217, 222, 0.9);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

.listing{
  margin-top: 20px;
}

.tile {
  margin-left: 10px;
  padding-left: 10px;
}

.hero-unit {
  margin-top: 0px;
}

.space {
  margin-top: 5px;
}

.title {
  color: #00ADEE;
}

.body {
  float: left;
}

.article_text {
  float: left;
}

.articles {
  clear: both;
  float: left;
}

.article {
  margin-bottom: 20px;
}

.article_image {
  float:left;
  margin: 0px 15px 0px 5px;
}

.project_image {
  float:left;
  margin-right: 10px;
}

.step_box {
  width: 100px;
  border: solid black 1px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px 0px 0px 20px;
  background: white;
}

.tutorial_description {
  width: 100%;
  border: solid black 1px;
  padding: 10px;
}

.clear_steps {
  clear: both;
  padding-top: 20px;
}

.image {
  float: left;
  clear: both;
}

.centered_image {
  position: relative;
  width: 480px;
  margin: auto;
  padding: auto;
}

.search_group {
  margin-top: 30px;
}

.steps_listing {
  margin-top: 30px;
  margin-bottom: 15px;
}


a#book {
  color: red;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

.white_box {
  background: white;
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.inline{
  margin-right: 50px;
  display: inline-block;
}

.pad{
  padding: 10px;
}

.categories {
  margin: 15px;
}

.category {
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
  border: 1px gray solid;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  font-weight: bold;
}
