.container
  %center
    .visible-desktop
      %p
        why do I not copyright my material?
        freely you receive, freely you shall give
    .footer-nav
      %ul.nav.visible-desktop
        %li= link_to "Home", root_path
